@import '../../foundation.css';
@import 'foundation.css';
@font-face {
  font-family: "PressStart2P";
  src: url("../assets/fonts/PressStart2P-Regular.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  font-family: "PressStart2P", serif;
}
.title-center {
  text-align: center;
}
.disclaimer {
  margin: 10px;
  text-align: center;
}
.author {
  padding: 10px;
}
.intro {
  padding: 10px;
}
body {
  background: black;
  margin: 10px;
}
.container {
  background: #222;
  width: 900px;
  margin: 0 auto;
  color: white;
  padding: 15px;
}
img {
  height: 300px;
  width: auto;
}
footer {
  color: white;
}
.heading-secondary {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, red, black);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.heading-secondary:hover {
  /*-webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);*/
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.feature-box {
  padding: 50px;
  text-align: center;
  border-radius: 3px;
  /*-webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);*/
  /*box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);*/
  /*-webkit-transition: -webkit-transform 0.3s;*/
  transition: transform 0.3s;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.btn {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, red, black);
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  margin: 40px;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 10px;
  border: none;
  cursor: pointer;
  color: white;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
  animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.button-div {
  display: flex;
  justify-content: center;
}
.btn-text {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  padding: 10px;
}
.btn-text:link, .btn-text:visited {
  font-size: 10px;
  width: 50px;
  color: darkred;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-image: linear-gradient(to right, red, black);
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
  transform: translateY(0);
}
.movie-number {
  font-size: 40px;
  font-family: "PressStart2P", serif;
  margin: 10px;
}
.movie-title {
  font-size: 30px;
  font-family: "PressStart2P", serif;
  margin: 10px;
}
.movie-info {
  font-size: 15px;
}
.movie-10 {
  text-align: center;
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
}
.movie-9 {
  text-align: center;
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
}
.movie-8 {
  text-align: center;
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
}
.movie-7 {
  text-align: center;
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
}
.movie-6 {
  text-align: center;
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
}
.movie-5 {
  text-align: center;
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
}
.movie-4 {
  text-align: center;
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
}
.movie-3 {
  text-align: center;
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
}
.movie-2 {
  text-align: center;
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
}
.movie-1 {
  text-align: center;
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
}
@media print {
  .btn {
    display: none;
  }
  img {
    display: none;
  }
}
