* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "aspira", serif;
    src: url(font.woff2) format("woff2");
}

@font-face {
    font-family: "jane-austen", serif;
    src: url(JaneAust.woff2) format("woff2");
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    /*border: 2px solid blue;*/
}

.title-flexbox {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 75%;
    /*border: 1px solid purple;*/
}

.flexbox1 {
    display: flex;
    justify-content: left;
    /*border: 1px solid red;*/
}

.flexbox2 {
    display: flex;
    justify-content: right;
    /*border: 1px solid red;*/
}

.text1 { /*TJoJS*/
    font-family: "aspira", serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: auto;
    padding: 20px;
    margin-top: 60px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

.text2 { /*Medusa*/
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 0px;
    margin: 0px;
    font-size: 200px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 2px solid orange ;*/
    height: 1000px;
    width: 100%;

}

.image-container {
    display: flex;
    justify-content: center;
    /*border: 2px solid black;*/
    height: 680px;
    width: 400;
}

.volume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px solid black;*/
    height: 100px;
    width: 500px;
    margin: 0px;
    font-size: 100px;
    transform: rotate(-90deg);
}

.number2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    transform: rotate(90deg);
}

.science-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px solid black;*/
    height: 50px;
    width: auto;
    margin: 0px;
    font-family: "jane-austen", serif;
    font-size: 20px;
    transform: rotate(90deg);
}

.footer {
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 100%;
}
